ion-card-title{
  text-align: center;
  font-size: 5vw;

}

ion-grid{
  text-align: center;
  font-size: 5vw;
  color: black;


}

ion-card{
  margin-top: 10vw;

}

.cima{
  color: rgb(255, 255, 255);
  margin-top: 0vw;
  font-weight: bold;
  font-size: 4vw;

}

.linha-horizontal {
  width: 80vw;
  border: 1px solid;

}

.linha-horizontal2 {
  width: 80vw;
  border: 1px solid;
  margin-top: -1vw;
  background-color: rgba(38, 0, 255, 0.322);

}

ion-card-title{

}

ion-content{
  // --background: url(../../assets/clouds-seamless-background-weather-and-outdoors-cloudscape-sky-vector-wallpaper-or-web-site-background-700-276041084.jpg) 90% 90% no-repeat; //
  background-color: aqua;


}

ion-title{

}
