<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Temperatura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <div>
      <img src="../../assets/1000_F_289739024_NcntSMAsLVsd6YMtOHlAwpIZSkKJ8BGL.jpg" alt="">
    </div>
    <ion-card-title>
      Lençois Paulista  <ion-icon name="thunderstorm-outline"></ion-icon> 20C°
    </ion-card-title>
    <div class="linha-horizontal"></div>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="linha-horizontal2">
          <div class="cima">Dia</div>
        </ion-col>
        <ion-col class="linha-horizontal2">
          <div class="cima">MIn e Max</div>
        </ion-col>
        <ion-col class="linha-horizontal2">
          <div class="cima">Previsão</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div ></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>17/08</div>
        </ion-col>
        <ion-col>
          <div>10C°/16C°</div>
        </ion-col>
        <ion-col>
          <div> Chuva<ion-icon name="rainy-outline"></ion-icon></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="linha-horizontal"></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>18/08</div>
        </ion-col>
        <ion-col>
          <div>22C°/33C°</div>
        </ion-col>
        <ion-col>
          <div>Sol<ion-icon name="sunny-outline"></ion-icon></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="linha-horizontal"></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>19/08</div>
        </ion-col>
        <ion-col>
          <div>5C°/13C°</div>
        </ion-col>
        <ion-col>
          <div>Nublado<ion-icon name="partly-sunny-outline"></ion-icon></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="linha-horizontal"></div>


  </ion-card-content>
</ion-card>



</ion-content>
